{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | SmartTask</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="auth-container">

        <div class="auth-card">

            <h1>Create Account</h1>

            <p class="subtitle">
                Join SmartTask and boost your productivity.
            </p>

            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <label>Username</label>
                    <input
                        type="text"
                        name="username"
                        placeholder="Choose Username"
                        required
                    >
                </div>

                <div class="input-group">
                    <label>Email</label>
                    <input
                        type="email"
                        name="email"
                        placeholder="Enter Email"
                        required
                    >
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="Create Password"
                        required
                    >
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    <input
                        type="password"
                        name="confirm_password"
                        placeholder="Confirm Password"
                        required
                    >
                </div>

                <button class="btn" type="submit">
                    Create Account
                </button>

            </form>

            <p class="auth-link">
                Already have an account?
                <a href="{% url 'login' %}">Login</a>
            </p>

        </div>

    </div>

</body>
</html>